body	
{
	background-color: #F0F8FF;
	color: #49938D;
	width: 800px; height: 800px;
	margin: 0 auto;
	padding: 30px;
}
h1
{
	text-align: center;	
}
.section-style
{
	padding: 40px;	
}
#section2-style
{
	margin-left: 150px;
}