/*Styles for Lab 13*/
body{
	font-family: "avenir", arial, Verdana;
	background-color: #FAEBD7;
}

#form-container{
	width:70%;
	margin: 0 auto;
}

fieldset{
	padding:30px;
	border: 3px dashed #666699;
}

legend{
	text-align: center;
	font-size: 28px;
}

label{
	margin-right: 10px;
	font-size: 18px;
}
.inputField{
	margin-bottom: 20px;
}
input{
	width:30%;
}

#address{
	width:70%;
}

#phone{
	width:20%;
}

#color{
	width:5%;
}
#date{
	width: 20%;
}
#bloodGroup{
	width:10%;
}

.btn
{
  padding: 15px 10px;
  width: 180px;
  background: #0099cc;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.btn:hover{
  background: #666699;	  
}


